.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    min-width: 100%;
    justify-content: space-between;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    gap: 20px;

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-width: 300px;
}

.messages .message {
    color: black;
    border: 2px solid green;
    border-radius: 15px;

}

