.NavBar {
    border-radius: 15px;
    grid-area: NavBar;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height:93vh;
    margin-left: 5px;
    padding-top: 30px;
    text-align: center;
    background-color: #446215;
    position: sticky;
    top: 10px;
}
.specButton{
    color: #f1f1f1;
    background-color: rgba(255,255,255,0.1);
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    margin: 0 5px;
}

.link {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: inline-block;
}
.specButton:hover .link {
    color: gold;
    transform: scale(1.1);
}
.activeLink {
    display: inline-block;
    text-decoration: none;
    color: gold;
    font-size: 20px;
}
.NavBar .specButton:hover{
    background-color: rgba(255,255,255,0.2);
    border-color: transparent;
}
.FridendWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}
.friendList{
    background-color: white;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25%;
    min-width: 100px;
    min-height: 40px;
    align-items: center;
}
.FriendName{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    align-items: center;
}