.MainContent {

}
.FrontImg {
    max-height: 300px;
    width: 100%;
    object-fit: fill;
}
.ProfileWrapper{
    display: flex;
    padding: 25px;
    gap: 50px;
}
.ProfileWrapper a{
    text-decoration: none;
}
.LokiFace {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}