.PostsBlock {
    margin: 0 auto;
    width: 90%;
    padding-left: 50px;
}
.PostWrapper{
    align-items: flex-start;
    max-height: 300px;
    display: flex;
    padding-top: 30px;
    justify-content: left;

}

.postImage {
    max-height: 100px;
    border-radius: 15px;
}
.UserInfo {
    display: flex;
    padding-right: 15px;
    flex-direction: column;
    gap: 20px;

}
.UserName {

}
.UserAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;

}
.likesCounter {
    display: flex;
    gap: 5px;
    margin: 0 auto;
    flex-direction: column;
    color: #ec7a7a;
}
.postArea{
    display: flex;
    gap: 30px;
    background-color: #b4b4b4;
    border-radius: 15px;
    padding: 10px 10px ;
    margin-top: 10px;
    margin-right: 50px;
    max-width: 1000px;
    min-height: 100px;
    font-size: 24px;
}