.MainContent {
    border-radius: 35px;
    grid-area: MainContent;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
    background-color: #d6efad;
    overflow-x: hidden;
}
.FrontImg {
    max-height: 300px;
    width: 100%;
    object-fit: fill;
}
.ProfileWrapper{
    display: flex;
    padding: 25px;
    gap: 50px;
}
.ProfileWrapper a{
    text-decoration: none;
}
.LokiFace {
    border-radius: 15px;
    width: 200px;
    height: 200px;
}